<section class="parallax scrivito_section_parallax_widget parallax_speed_<%= widget.speed %>" style="height: <%= widget.height %>; max-height: <%= widget.height %>">
  <%= scrivito_image_tag widget, :background_image, class: "parallax-image", data: { parallax_speed: widget.speed } %>
  <%= scrivito_tag(:div, widget, :section_content, class: 'container') %>
</section>