<div class="details-view" >
  <h4>MP4 Video</h4>
  <%= scrivito_tag(:div, widget, :background_video_mp4) %>

  <h4>Webm Video</h4>
  <%= scrivito_tag(:div, widget, :background_video_webm) %>

  <h4>Ogg Video</h4>
  <%= scrivito_tag(:div, widget, :background_video_ogg) %>

  <h4>Background Image (Will be used if small screen, no video tag or no java script)</h4>
  <%= scrivito_tag(:div, widget, :background_image) %>

  <h4>Height (Used if image is visible)</h4>
  <%= scrivito_tag(:div, widget, :height) %>
</div>
